* {
  box-sizing: border-box;
}

h1 {
  margin: 80px;
  text-align: center;
}

h2 {
  text-align: center;
}

.coloring {
  color: blue;
}

.topic {
  text-decoration: underline;
}

h4 {
  padding: 15px;
  background: #fafafa;
  border-bottom: 1px solid #efefef;
}

.info {
  line-height: 60px;
  font-size: 20px;
}

iframe {
  width: 100%;
  margin: 15px;
}

.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.introduction {
  display: flex;
}

.introduction li {
  margin-left: 15px;
  list-style: none;
}

.twitter-timeline {
  margin-left: 270px;
}

.container {
  padding-bottom: 70px;
}


.btn {
  width: 200px;
  height: 60px;
  background: none;
  border: solid 4px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.btn::before, .btn::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: red;
  transform: skewX(50deg);
  transition: .4s linear;
}

.btn::before {
  top: -4px;
  left: 10%;
}

.btn::after {
  bottom: -4px;
  right: 10%;
}

.btn:hover::before {
  left: 80%;
}

.btn:hover::after {
  right: 80%;
}



