* {
  box-sizing: border-box;
}

h1 {
  margin: 80px;
  text-align: center;
}

h2 {
  text-align: center;
}

.coloring {
  color: blue;
}

.topic {
  text-decoration: underline;
}

h4 {
  padding: 15px;
  background: #fafafa;
  border-bottom: 1px solid #efefef;
}

.info {
  line-height: 60px;
  font-size: 20px;
}

iframe {
  width: 100%;
  margin: 15px;
}

.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.introduction {
  display: flex;
}

.introduction li {
  margin-left: 15px;
  list-style: none;
}

.container {
  background-color: white;
  padding-bottom: 70px;
}



